catboost_info/*.*
catbost_info
.vscode/*.*
workspace.code-workspace
catboost_info/tmp/desktop.ini
catboost_info/learn/desktop.ini
desktop.ini
catboost_info/test/desktop.ini
freeze.txt
*.*_model
*.*_model.*
*.*_vmodel
*.*_vmodel.*